{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ instructor.user.get_full_name|default:instructor.user.username }}{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-4">
            {% if instructor.user.avatar %}
            <img src="{{ instructor.user.avatar.url }}" alt="{{ instructor.user.get_full_name }}" class="img-fluid">
            {% elif instructor.user.profile_picture_url %}
            <img src="{{ instructor.user.profile_picture_url }}" alt="{{ instructor.user.get_full_name }}" class="img-fluid">
            {% else %}
            <img src="https://ui-avatars.com/api/?name={{ instructor.user.username|default:user.email }}&size=140" class="rounded-circle img-thumbnail" alt="Avatar">
            {% endif %}
        </div>
        <div class="col-md-8">
            <h2>{{ instructor.user.get_full_name|default:instructor.user.username }}</h2>
            <p>{% trans "Expertise" %}: {{ instructor.expertise }}</p>
            <p>{% trans "Years of Experience" %}: {{ instructor.experience_years }}</p>
            <p>{% trans "Total Courses" %}: {{ instructor.total_courses }}</p>
            <h3>{% trans "Courses by this instructor" %}</h3>
            <ul>
                {% for course in courses %}
                    <li>
                        <a href="{% url 'courses:course_detail' course.slug %}">{{ course.title }}</a>
                    </li>
                {% empty %}
                    <li>{% trans "No courses found." %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
